# M1L7 Data Challenge:  Data Manipulation 

 We'll continue to work with UFO sighting data.

### **Dataset:** [UFO Sightings](https://www.kaggle.com/datasets/jonwright13/ufo-sightings-around-the-world-better?resource=download) -- This is also in your data folder 

### **Objectives:**

- Use string methods to manipulate data 
- Filter Data 
- Work more with dates in Python



**Let's get started!**

### Step 1:  Import Pandas & Numpy

In [1]:
# Import Pandas 
import pandas as pd

### Step 2: Load the dataset (csv file stored in the data folder) into a Pandas DataFrame called `ufo`

- The file is callled `ufo-sightings.csv`

In [2]:
ufo = pd.read_csv('/Users/Marcy_Student/Desktop/marcy/DA2025_Lectures_Kevin/data/ufo-sightings-transformed.csv')

### Step 3: Explore the Data

Use any method(s) of your choice to look at the data and explore it

In [3]:
ufo.head(6)

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...
5,5,1961-10-10 19:00:00,4/27/2007,1961,10,19,Autumn,USA,United States,Tennessee,Bristol,36.595000,-82.188889,Sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...

### Step 4:  Clean the UFO_shape column 
- Make the column all uppercase 
- Strip off any leading and trailing spaces 

Even if there are no actual spaces; it is still good practice to trim off spaces even if you can't see space with the naked eye

Hint:  You will use both `str.upper()` and `str.strip()` -- you can do it in one step or two separate steps

In [4]:
ufo['UFO_shape'] = ufo['UFO_shape'].str.upper().str.strip()
ufo['UFO_shape']

0        CYLINDER
1           LIGHT
2          CIRCLE
3          CIRCLE
4           LIGHT
           ...
80323       LIGHT
80324      CIRCLE
80325       OTHER
80326      CIRCLE
80327       CIGAR
Name: UFO_shape, Length: 80328, dtype: object

### Step 5:  Use `pd.crosstab` to sum the number of shapes seen by season

- Add a comment of a main takeaway from the output

In [5]:
pd.crosstab(ufo['UFO_shape'],ufo['Season']).sum()
#Add comment here:  Summer had the most number of shapes seen

Season
Autumn    21261
Spring    15799
Summer    25768
Winter    15570
dtype: int64

In [6]:
# Run this cell without changes before moving on to step 6!

ufo['Date_time'] = pd.to_datetime(ufo['Date_time'], format="%Y-%m-%d %H:%M:%S")

### Step 6:  Filter the data where the region is equal to `New York`

In [7]:
NY_region = ufo[ufo['Region'] == 'New York']
NY_region.head()

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
12,12,1970-10-10 16:00:00,5/11/2000,1970,10,16,Autumn,USA,United States,New York,Nassau County,40.668611,-73.527500,DISK,1800.0,30 min.,silver disc seen by family and neighbors
27,27,1978-10-10 02:00:00,2/1/2007,1978,10,2,Autumn,USA,United States,New York,Alden Manor,40.700833,-73.713333,RECTANGLE,300.0,5min,A memory I will never forget that happened men...
28,28,1979-10-10 00:00:00,4/16/2005,1979,10,0,Autumn,USA,United States,New York,Poughkeepsie,41.700278,-73.921389,CHEVRON,900.0,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...
38,38,1984-10-10 22:00:00,8/10/1999,1984,10,22,Autumn,USA,United States,New York,White Plains,41.033889,-73.763333,FORMATION,20.0,15-20 seconds,Saw a hugh object in sky with lights intermitt...
40,40,1986-10-10 20:00:00,10/8/2007,1986,10,20,Autumn,USA,United States,New York,Holmes,41.523427,-73.646795,CHEVRON,180.0,3 minutes,Football Field Sized Chevron with bright white...

### Step 7:  Get the most recent `Date_time` that a UFO was sighted in New York 

Hint:  Make sure you saved your filtered data from Step 6 to a new dataframe object aka varaible.  You can use `.max()` right after a column name to get the max of that column

You are using the `Date_time` column for this question

In [8]:
NY_region['Date_time'].max()

Timestamp('2014-05-05 23:04:00')

## Above and Beyond (AAB)  -- OPTIONAL

### Question 1:  How many days have passed between the first UFO sighting in NY and the most recent sighting in NY based on this data?

In [9]:
NY_region['Date_time'].max() - NY_region['Date_time'].min()

Timedelta('30654 days 01:04:00')

### Question 2:  Filter the data where UFO_shape is `UNKNOWN` and the Region is `New York`

In [22]:
NY_region[NY_region['UFO_shape']=='UNKNOWN']

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
661,661,1999-10-01 17:00:00,2/18/2001,1999,10,17,Autumn,USA,United States,New York,New York,40.714167,-74.006389,UNKNOWN,5.0,5 seconds,I witnessed a being in the middle of the day i...
816,816,2006-10-01 21:00:00,10/30/2006,2006,10,21,Autumn,USA,United States,New York,Village of Orchard Park,42.767500,-78.744167,UNKNOWN,37800.0,approx. 1 1/2 hours,Spotted again as before........
923,923,2011-10-01 00:00:00,12/12/2011,2011,10,0,Autumn,USA,United States,New York,New York,40.579532,-74.150201,UNKNOWN,600.0,10 minutes,Huge bright fireball descends over Staten Island.
1059,1059,2003-10-12 02:00:00,11/26/2003,2003,10,2,Autumn,USA,United States,New York,Lark Street,42.652500,-73.756667,UNKNOWN,30.0,30 seconds,object emmited bright light then sped off in a...
1495,1495,1997-10-14 16:00:00,8/5/2001,1997,10,16,Autumn,USA,United States,New York,Syracuse,43.048056,-76.147778,UNKNOWN,30.0,30 sec. max,4 Military planes fly past flying rod&#44 and...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78528,78528,2012-09-29 20:30:00,10/30/2012,2012,9,20,Autumn,USA,United States,New York,Buffalo,42.886389,-78.878611,UNKNOWN,300.0,3-5 minutes,6 orange reddish&#44 flashing lights&#44 slow...
79188,79188,2010-09-04 20:51:00,11/21/2010,2010,9,20,Autumn,USA,United States,New York,Middletown,41.445833,-74.423333,UNKNOWN,3.0,3 sec.,Object dips up and down and zig zags.
79195,79195,2010-09-04 22:00:00,11/21/2010,2010,9,22,Autumn,USA,United States,New York,Lindenhurst,40.686667,-73.373889,UNKNOWN,90.0,1 min 30 sec,It was a very bright light&#44 extremly high u...
80219,80219,2008-09-09 03:00:00,10/31/2008,2008,9,3,Autumn,USA,United States,New York,Lake Grove,40.852778,-73.115556,UNKNOWN,12.0,10 - 12 seconds,Light in the sky which moved in a way that is ...
80239,80239,2009-09-09 20:15:00,12/12/2009,2009,9,20,Autumn,USA,United States,New York,Poughquag,41.608889,-73.682222,UNKNOWN,420.0,5-7 minutes,After sunset and before total dark I witnessed...